@tailwind base;
@tailwind components;
@tailwind utilities;

.nav{
  @apply flex w-[100%];
  align-items: center;
  justify-content: space-between;
}

.navtitle{
  @apply text-2xl font-bold;
}

.footerHead {
  @apply font-semibold mt-5;
  font-family: "Helvetica Neue";
}

.homepage{
  /* background-image:url("../public/profile.jpg"); */
}

.banner{
  @apply flex mt-12 px-10;
  align-items: center;
  justify-content: center;
}

.bannerText{
  @apply flex;
}

.bannerImage{
  @apply flex w-1/4;
  align-items: center;
  justify-content: center;
  
}

.bannerPort{
  @apply flex items-center;
  width: 94%;
  margin: 0 auto;
}

.design{
  @apply grid grid-cols-2 gap-3;
  grid-template-columns: 5fr 6fr;
}

.photo{
  @apply grid grid-cols-2 gap-3;
  grid-template-columns: 6fr 5fr;
}